

/*----chosen font family--------*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



/*----styling for main page--------*/
body{
    height: 100vh;
    background: #061435;
    font-family: 'Anton', sans-serif;
}
/*----main game container styling--------*/
#memory-game{
    height:35%;
    width:43%;
    margin: auto;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    
    margin-top: 20px;
    padding-top: 10px;
    }
/*----game screen title styling--------*/
    .game-title{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

h1{ 
    font-size: 70px;
    margin-top: 15px;
}
/*----individual card container styling--------*/
.memory-card{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    

}
/*----removed some of bootstraps built in styles--------*/
.row{
    margin-left:0;
    margin-right:0;
}

/*----styling when the card is clicked on--------*/
.memory-card:active{
    -webkit-transform: scale(.97);
        -ms-transform: scale(.97);
            transform: scale(.97);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}
/*----css class added for card flip--------*/
.memory-card.flip{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    
}

/*----marvel image and hero images--------*/
.back-face{
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 5px;
    border: 2px solid #fff;
}

.front-face{
    top: 50%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 5px;
    border: 2px solid #fff;
}

    
img{
    width:90%;
    height: 80%;
    vertical-align: none;
}

/*----lose counter container --------*/
#click-counter{
    text-align: center;
}
/*----lose counter countdown box--------*/
.lose-counter{
    color: #fff;
    background-color: #ed1d24;
    height: 45%;
    width: 30%;
    border-radius: 5px;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
}
/*----text that show up when the outcome of the game is shown--------*/
.outcometext{
    color: #fff;
    text-align: center;
    font-size: 100px;

}

.outcomeScreen{
    text-align: center;
}

/*----button styling for the game reset button-------*/
#play-again{
    background-color: #ed1d24;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

#play-again:hover{
    background-color:#fff;
    height: 45px;
    border: 2px solid #ed1d24;
    border-radius: 5px;
    color:#ed1d24;
    font-family: 'Anton', sans-serif;
}



/*----media queries for responsive styling--------*/

@media(max-width: 1080px) {
    #memory-game {
        
        margin: 0 auto;
        width: 90%;
        height: 100%;
        margin-left: 10px;
    }
}

@media(max-width: 1080px) {
    h1 {
        font-size: 35px;
        padding-top: 10px;

    }
}

@media(max-width: 1080px) {
    #click-counter {
     text-align: center;

    }
}

@media(max-width: 1080px) {
    .lose-counter {
     font-size: 16px;

    }
}
@media(max-width: 1080px) {
    .outcometext{
    color: #fff;
    text-align: center;
    font-size: 70px;

}
}

