

body{
    height: 100vh;
    background: #061435;
    
}

#memory-game{
    height: 800px;
    width: 800px;
    margin: auto;
    
}

.back-face{
    position: absolute;
}

.front-face{
    top: 50%;
}
    


img{
    margin-top: 10px;
    width: 95%;
    height: 150px;
}
