body{
    height: 100vh;
    background: #061435;
}

#memory-game{
    height: 540px;
    width: 540px;
    margin: auto;
    perspective: 1000px;
    text-align: center;
    margin-top: 40px;
    }

.memory-card{
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    

}

.memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip{
    transform: rotateY(180deg);
    
}


.back-face{
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    border: 2px solid #fff;
}

.front-face{
    top: 50%;
    right: 0px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 5px;
    border: 2px solid #fff;
}

    
img{
    width:95%;
    height: 95px;
}
#click-counter{
    text-align: center;
}
.lose-counter{
    color: #fff;
    background-color: #ed1d24;
    height: 45px;
    width: 50px;
    border-radius: 5px;
    font-size: 26px;
    margin: auto;
    border: 2px solid #fff;
}

.win-title{
    color: #fff;
    text-align: center;
    font-size: 150px;

}

.lose-title{
    color: #fff;
    text-align: center;
    font-size: 150px;

}

.btn-primary{
    background-color: #ed1d24;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.game-title{
    color: #fff;
    font-size: 70px;
    text-align: center;
    margin-bottom: 40px;
}